<div class="flex flex-col h-full">
  <div class="h-1/5 flex items-center justify-center">
    <div class="text-center text-5xl font-bold tracking-wide">
      <span class="text-green-400">tipp</span><span class="text-purple-400">.ninja</span>
    </div>
  </div>
  <div class="grow flex p-10">
    <div class="w-full aspect-video bg-white">
      FOO
    </div>
  </div>
  <div class="h-1/5 flex items-center justify-center">
    <a href="" class="bg-purple-500 text-2xl mx-8 py-2 rounded-3xl w-full text-center border-4 border-t-0 border-l-0 border-purple-900">
      Let's go!
    </a>
  </div>
</div>

<div class="hidden ">

</div>
